body {
  margin: 0;
  font-family: Arial, sans-serif;

  background-image: url('../images/bg.png');
  background-repeat: repeat; 
  background-position: top center;
  background-size: 200px;
}

header {
  background: black;
  color: white;
  padding: 1rem;
  text-align: center;
}

.hero img {
  height: 350px; 
  object-fit: cover;
}

section {
  padding: 2rem 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

img {
  width: 100%;
  display: block;
}

#map {
  height: 300px;
  background: #eee;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #f4f4f4;
}

.glide__slide img {
  height: 450px;
  object-fit: cover;
}

.glide {
  cursor: grab;
}

.glide:active {
  cursor: grabbing;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.gallery-grid img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .gallery-grid {
    grid-template-columns: 1fr;
  }
}